.hamburgerPart {
    text-align: center;
    width: 50px;
    position: fixed;
    z-Index: 100;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 30px;
    position: fixed;
    top: 20px;
    background: #0A483A;
    border: solid #0A483A;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    align-self: center;
}

#staticSide {
    display: none;
}

#dynamicSide {
    background-color: #0A483A;
}

#dynamicSide .navbar {
    background-color: transparent;
    height: 60px;
}

#dynamicSide .navbar .brand {
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

#dynamicSide .navbar .brand p {
    margin: 0;
}

.toggle-button {
    display: flex;
}

.drawerBody {
    background-color: red;
}

@media(min-width: 768px) {
    .hamburgerPart {
        display: none;
    }
    #dynamicSide,
    #drawer {
        display: none;
    }
    #staticSide {
        background-color: #0A483A;
        position: fixed;
        display: flex;
        width: 17rem;
        height: 100vh;
    }
    #staticSide .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: .5rem solid rgba(255, 255, 255, .2);
    }
}