.bubbles {
    height: 100vh;
}

.code-box-shape {
    height: 100px;
    width: 100px;
    background-color: rgb(72, 92, 51);
}

#bubbleWrapper {
    overflow: hidden;
    height: 500px;
    transform: translateX(-70px) scale(1);
    margin: -30px auto 30px auto;
}

.stripe-bubbles {
    height: 200px;
    width: 100%;
}

.stripe-bubble {
    position: absolute;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    background-size: 150px 150px;
}